Question 1
If youâ€™re given two lists:

A = [1,2,3,4,5,6], B = [13, 21, 34]

The task is to create a list with the elements of A and B in a single dimension with output:

A_B = [1,2,3,4,5,6,13, 21, 34]

Which of the following option is the best way to create this list?

In [1]:
A = [1,2,3,4,5,6]
B = [13,21,34]

In [2]:
A_B = A.extend(B)
print(A_B)
print(A)

None
[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [3]:
A = [1,2,3,4,5,6]
B = [13,21,34]

In [4]:
A_B = A.append(B)
print(A_B)
print(A)

None
[1, 2, 3, 4, 5, 6, [13, 21, 34]]

Question 2
How do you create an identity matrix in python?

In [5]:
#Import the necessary library
import numpy as np

In [6]:
try:
    np.array([1,0,0],[0,1,0],[0,0,1])
except:
    print("Doesn't work")

Doesn't work

In [7]:
try:
    np.identity(3)
except:
    print("Doesn't work")

In [8]:
try:
    np.eye(3)
except:
    print("Doesn't work")

In [9]:
try:
    eye(3)
except:
    print("Doesn't work")

Doesn't work

Question 3
Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [10]:
#Import the necessary library
import pandas as pd

In [11]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data = pd.read_csv(url, error_bad_lines=False)

In [12]:
fuel_data.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [13]:
#Method 1: heck for the minimum value among all values 
fuel_data[fuel_data['fuel_cost_per_unit_burned'] == min(fuel_data['fuel_cost_per_unit_burned'])]['fuel_type_code_pudl']

7733    waste
Name: fuel_type_code_pudl, dtype: object

In [14]:
#Method 2: sort in ascending order and pick the first
fuel_data.sort_values('fuel_cost_per_unit_burned',ascending=True).iloc[0]['fuel_type_code_pudl']

'waste'

In [15]:
print(f"The fuel type code with the lowest average fuel cost per unit burned is: \n{fuel_data.sort_values('fuel_cost_per_unit_burned',ascending=True).iloc[0]['fuel_type_code_pudl']}")

The fuel type code with the lowest average fuel cost per unit burned is:
waste

Question 4
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [16]:
fuel_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [17]:
#print('{:0.3f}'.format())
std_and_75per = fuel_data.describe()['fuel_mmbtu_per_unit'][['std','75%']]
print('The standard deviation and 75th percentile  of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places are: \n{:0.2f} and {:0.2f}'.format(std_and_75per['std'],std_and_75per['75%']))

The standard deviation and 75th percentile  of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places are:
10.60 and 17.01

Question 5
What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [18]:
fuel_burned_skewness = fuel_data['fuel_qty_burned'].skew()
fuel_burned_kurtosis = fuel_data['fuel_qty_burned'].kurt()
print('The skewness and kurtosis for the fuel quantity burned in two decimal places are: \n{:0.2f} and {:0.2f}'.format(fuel_burned_skewness,fuel_burned_kurtosis))

The skewness and kurtosis for the fuel quantity burned in two decimal places are:
15.85 and 651.37

Question 6
Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

In [19]:
#To get the list of the features with missing values
Features = list(fuel_data.columns[fuel_data.isnull().any()])

In [20]:
assert len(Features) == 1
#Since there is only one value in the list,
Feature = Features[0]
Total = fuel_data.isnull().sum()[Feature]#total number of missing value in this feature

In [21]:
fuel_data.isnull().sum()['fuel_unit']/ fuel_data.shape[0]*100
Percent = fuel_data.isnull().sum()['fuel_unit']/ fuel_data.shape[0]

In [22]:
print(f'Feature: {Feature}, Total: {Total}, Percent: {Percent:.3%}')

Feature: fuel_unit, Total: 180, Percent: 0.610%

Question 7
The feature with missing values falls under what category? What missing value imputation technique would you use?

In [23]:
assert fuel_data[Feature].dtypes == np.dtype('object')

In [24]:
'''
The data is Categorical and imputation is mode imputation
'''

'\nThe data is Categorical and imputation is mode imputation\n'

Question 8
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [25]:
#We first find the correlation then sort with the feature given in ascending order then pick the 2nd and 3rd by slicing
sec_and_third_list = list(fuel_data.corr().sort_values('fuel_cost_per_unit_burned',ascending=True).index[1:3])
print(f"The following features are the second and third lowest correlation with the Fuel Cost Per Unit Burned: \n{' and '.join(sec_and_third_list)}")

The following features are the second and third lowest correlation with the Fuel Cost Per Unit Burned:
fuel_qty_burned and fuel_mmbtu_per_unit

Question 9
For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [26]:
coal_cost_vs_year = fuel_data[fuel_data['fuel_type_code_pudl'] == 'coal'].groupby('report_year').sum()['fuel_cost_per_unit_burned']
coal_cost_vs_year_change_ratio = (coal_cost_vs_year[1994] - coal_cost_vs_year[1998])/coal_cost_vs_year[1994]
print(f'For the fuel type coal, the percentage change in the fuel cost per unit burned in 1998 compared to 1994 is:\n{coal_cost_vs_year_change_ratio:.0%}')

For the fuel type coal, the percentage change in the fuel cost per unit burned in 1998 compared to 1994 is:
21%

Question 10
Which year has the highest average fuel cost per unit delivered?

In [27]:
#Method 1: check for the maximum value among all values 
fuel_data[fuel_data['fuel_cost_per_unit_delivered'] == max(fuel_data['fuel_cost_per_unit_delivered'])]['report_year']

3564    1997
Name: report_year, dtype: int64

In [28]:
#Method 2: sort in descending order and pick the first
fuel_data.sort_values('fuel_cost_per_unit_delivered',ascending=False)['report_year'].iloc[0]

1997

In [29]:
print(f"The year with the highest average fuel cost per unit delivered is: \n{fuel_data.sort_values('fuel_cost_per_unit_delivered',ascending=False)['report_year'].iloc[0]}")

The year with the highest average fuel cost per unit delivered is:
1997